<div class="text-center margin">
    <label class="title kaushan">Encuestas</label>
</div>
<div class="gestion-encuestas-box">
    <div>
        <button style="visibility:hidden;text-align:center" class="btn btn-default margin float-right" ng-click="mostrarFormulario();" title="{{texto}}"><span ng-class="{'glyphicon glyphicon-plus':!nueva, 'glyphicon glyphicon-minus':nueva}"></span></button>
        <div class="col-md-12 col-sm-12 margin" ng-show="encuestas">
            <div class="col-md-4 col-sm-4 card-box" ng-repeat="encuesta in encuestas">
                <div ng-show="encuesta.estado" class="inner">
                    <div class="title-card">
                        <label class="subtitle">Encuesta {{encuesta.id}}</label>
                    </div>
                    <div  class="body-card">
                        <p>{{encuesta.descripcion}}</p>
                    </div>
                    <div class="footer-card-box">
                        <span ng-show="!tipoUsuario" title="Preguntas respondidas">8</span>
                        /
                        <span ng-show="!tipoUsuario" title="Preguntas totales">10</span>
                        <span ng-show="tipoUsuario" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editarEncuesta" ng-click="editandoEncuesta(encuesta.id, encuesta.descripcion);" title="Modificar encuesta"></span>
                        &nbsp;&nbsp;&nbsp;
                        <span ng-show="tipoUsuario" class="glyphicon glyphicon-tasks" data-toggle="modal" data-target="#armarEncuesta"  ng-click="armandoEncuesta(encuesta.id);" title="Armar encuesta"></span>
                        &nbsp;&nbsp;&nbsp;
                        <span ng-show="tipoUsuario" ng-class="{'fa fa-toggle-on': encuesta.estado == 1, 'fa fa-toggle-off': encuesta.estado == 0}" ng-click="cambiarEstado(encuesta);" title="Activar/inactivar encuesta"></span>
                        &nbsp;&nbsp;&nbsp;
                        <span ng-show="tipoUsuario" class="fa fa-users" data-toggle="modal" data-target="#asignarUsuarios" ng-click="asignandoUsuarios(encuesta.id);" title="Asignar usuarios a la encuesta"></span>
                        &nbsp;&nbsp;&nbsp;
                        <span ng-show="tipoUsuario" class="glyphicon glyphicon-trash" ng-click="eliminar($event, encuesta.id);" title="Eliminar encuesta"></span>
                        &nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-box margin" ng-show="!encuestas">No hay encuestas registradas.</div>
</div>