
    <div class="text-center margin" style="visibility:hidden">
        <label class="title kaushan">Encuestas</label>
    </div>

    <div class="gestion-box">
        <div>
            <label class="subtitle baskerville">Encuestas</label>
            <button style="visibility:hidden;text-align:center" class="btn btn-default margin float-right" ng-click="mostrarFormulario();" title="{{texto}}"><span ng-class="{'glyphicon glyphicon-plus':!nueva, 'glyphicon glyphicon-minus':nueva}"></span></button>
            <div class="col-md-12 col-sm-12 margin" ng-show="encuestas">
                <div class="col-md-4 col-sm-4 card-box" ng-repeat="encuesta in encuestas">
                    <div ng-show="encuesta.estado" class="inner">
                        <div class="title-card">
                            <label class="subtitle">Encuesta {{encuesta.id}}</label>
                        </div>
                        <div  class="body-card">
                            <p>{{encuesta.descripcion}}</p>
                        </div>
                        <div class="footer-card-box">
                            <span class="btn btn-primary" ng-click="editandoEncuesta(encuesta.id, encuesta.descripcion);" title="Contestar encuesta">Contestar encuesta</span>

                            <span title="Preguntas respondidas">8</span>
                            /
                            <span title="Preguntas totales">10</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-box margin" ng-show="!encuestas">No hay encuestas registradas.</div>
    </div>