<div class="text-center margin">
    <label class="title-1 kaushan">Gestión de encuestas</label>
</div>
<div class="gestion-box" ng-show="nueva">
    <div>
        <label class="title-2">Agregar nueva encuesta</label>
    </div>
    <form class="container margin">
        <div class="col-md-offset-2 col-md-8">
            <div class="col-md-12">
                <p>
                    <label for="descripcion">Descripción</label>
                    <textarea ng-model="descripcion" class="form-control" rows="7" autofocus placeholder="Descripción" title="La descripción debe tener al menos 5 caracteres."></textarea>
                </p>
            </div>
            <div class="col-md-12">
                <div>
                    <div ng-show="registro" ng-class="styleRegistro">{{msgRegistro}}</div>
                </div>
                <center>
                    <button class="btn btn-success margin" ng-disabled="emptyData" ng-click="agregar();"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Guardar</button>
                </center>
            </div>
        </div>
    </form>
</div>
<div class="gestion-box">
    <div>
        <label class="title-2">Encuestas</label>
        <button class="btn btn-default margin float-right" ng-click="mostrarFormulario();" title="{{texto}}"><span ng-class="{'glyphicon glyphicon-plus':!nueva, 'glyphicon glyphicon-minus':nueva}"></span></button>
        <div class="col-md-12 col-sm-12 margin" ng-show="encuestas">
            <div class="col-md-6 col-sm-6 card-box" ng-repeat="encuesta in encuestas">
                <div class="inner">
                    <div class="title-card">
                        <label class="title-3">{{encuesta.descripcion}}</label>
                    </div>
                    <div class="body-card">
                        <p>Creada por {{encuesta.nombre}} {{encuesta.apellido1}} {{encuesta.apellido2}} el {{encuesta.fechaCreacion}} y modificada el {{encuesta.fechaModificacion}}.</p>
                        <p>Está {{encuesta.estado | estado}}.</p>
                    </div>
                    <div class="footer-card-box">
                        <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editarEncuesta" ng-click="editandoEncuesta(encuesta.id, encuesta.descripcion);" title="Modificar encuesta"></span>
                        &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-tasks" data-toggle="modal" data-target="#armarEncuesta"  ng-click="armandoEncuesta(encuesta.id);" title="Armar encuesta"></span>
                        &nbsp;&nbsp;
                        <span ng-class="{'fa fa-toggle-on': encuesta.estado == 1, 'fa fa-toggle-off': encuesta.estado == 0}" ng-click="cambiarEstado(encuesta);" title="Activar/inactivar encuesta"></span>
                        &nbsp;&nbsp;
                        <span class="fa fa-users" data-toggle="modal" data-target="#asignarUsuarios" ng-click="asignandoUsuarios(encuesta.id);" title="Asignar usuarios a la encuesta"></span>
                        &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-trash" ng-click="eliminar($event, encuesta.id);" title="Eliminar encuesta"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-box margin" ng-show="!encuestas">No hay encuestas registradas.</div>
</div>

<!-- Formulario editar -->
<div id="editarEncuesta" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header montserrat">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="title">Modificar encuesta</label>
            </div>
            <div class="modal-body margin">
                <div>
                    <label for="descripcion">Descripción</label>
                    <textarea ng-model="descripcion" class="form-control" rows="7" placeholder="Descripción" title="La descripción debe tener al menos 5 caracteres."></textarea>
                </div>
                <div ng-show="editar" class="margin" ng-class="styleEditar">{{msgEditar}}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar</button>
                <button class="btn btn-success" ng-disabled="emptyData" data-ng-click="modificar(); $event.stopPropagation()"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Formulario armar encuesta -->
<div id="armarEncuesta" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header montserrat">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="title">Armar encuesta</label>
            </div>
            <div class="modal-body">
                <div ng-show="armarOk" class="margin" ng-class="styleArmar">{{msgArmar}}</div>
                <div class="simpleDemo margin">
                    <div class="col-md-12 col-sm-12">
                        <div class="row">
                            <div ng-repeat="(listName, list) in preguntas" class="col-md-6 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <label ng-if="listName == 'preguntas'"class="panel-title">Banco de preguntas</label>
                                        <label ng-if="listName == 'banco'"class="panel-title">Preguntas de la encuesta</label>
                                    </div>
                                    <div class="panel-body">
                                        <ul dnd-list="list">
                                            <li ng-repeat="item in list"
                                                dnd-draggable="item"
                                                dnd-moved="list.splice($index, 1)"
                                                dnd-effect-allowed="move"
                                                dnd-selected="models.selected = item"
                                                ng-class="{'selected': models.selected === item}">
                                                {{item.enunciado}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border: none;">
                <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar</button>
                <button class="btn btn-success" data-ng-click="armar(); $event.stopPropagation()"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Asignar usuarios a la encuesta -->
<div id="asignarUsuarios" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header montserrat">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <label class="title">Asignar usuarios</label>
            </div>
            <div class="modal-body">
                <table class="table margin">
                    <thead>
                        <tr>
                            <th><input id="bussMaster" type="checkbox" ng-click="marcarTodos();"></th>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="empresario in empresarios">
                            <th><input type="checkbox" value="true" ng-model="empresario.state"></th>
                            <td>{{empresario.cedula}}</td>
                            <td>{{empresario.nombre}} {{empresario.apellido1}} {{empresario.apellido2}}</td>
                            <td>{{empresario.email}}</td>
                            <td>{{empresario.tipo | user}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar</button>
                <button class="btn btn-success" data-ng-click="asignarUsuarios(); $event.stopPropagation()"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Guardar</button>
            </div>
        </div>
    </div>
</div>