<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navBar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/admin">Observatorio Empresarial</a>
        </div>
        <div class="navbar-collapse collapse navBar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Encuestas <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="activeNav='agregarEncuesta'"><a><span class=""></span>&nbsp;&nbsp;Agregar</a></li>
                        <li ng-click="activeNav='gestionEncuesta'"><a>Modificar/Eliminar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Personas <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="activeNav='agregarPersona'"><a><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Agregar</a></li>
                        <li ng-click="activeNav='gestionPersona'"><a>Modificar/Eliminar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Preguntas <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="activeNav='agregarPregunta'"><a><span class=""></span>&nbsp;&nbsp;Agregar</a></li>
                        <li ng-click="activeNav='gestionPregunta'"><a>Modificar/Eliminar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{user.nombre}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="logOut();"><a><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" ng-switch="activeNav">
    <div ng-switch-when="agregarPersona" ng-controller="PersonasController">
        <div class="text-center">
            <label class="title baskerville">Registro de personas</label>
        </div>
        <form class="container col-md-offset-4 col-md-4">
            <div class="form-group">
                <label for="cedula">Cedula: </label>
                <input ng-model="cedula" class="form-control" type="text" name="cedula" id="cedula" required autofocus placeholder="Número de cedula" pattern="[0-9]{9,}" title="Número de cédula con ceros, sin espacios ni guiones">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre: </label>
                <input ng-model="nombre" class="form-control" type="text" name="nombre" id="name" required placeholder="Nombre" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
            </div>
            <div class="form-group">
                <label for="apellido1">Primer Apellido: </label>
                <input ng-model="apellido1" class="form-control" type="text" name="apellido1" id="apellido1" required placeholder="Primer Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
            </div>
            <div class="form-group">
                <label for="apellido2">Segundo Apellido: </label>
                <input ng-model="apellido2" class="form-control" type="text" name="apellido2" id="apellido2" required placeholder="Segundo Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
            </div>

	        <div class="form-group">
	            <label for="name">Contraseña: </label>
	            <input class="form-control" type="password" name="pass" id="pass" required  placeholder="Contraseña" pattern="[a-zA-Z0-9._%+-]{3,}" title="Por favor ingrese más de dos caracteres">
	        </div>
	        <div class="form-group">
	            <label for="name">Confirmar Contraseña: </label>
	            <input class="form-control" type="password" name="passConf" id="passConf" required  placeholder="Confirmar Contraseña" pattern="[a-zA-Z0-9._%+-]{3,}" title="Por favor ingrese más de dos letras">
	        </div>
	        <center>
	            <button type="submit" class="btn btn-default btn-info ">Submit</button>
	        </center>
	    </form>
	</div>
	<div ng-switch-when="gestionPersona">
		<div class="text-center">
    		<label class="title baskerville">Gestión personas</label>
    	</div>
	</div>
	<div ng-switch-when="agregarEncuesta">
		<div class="text-center">
    		<label class="title baskerville">Registro de encuestas</label>
    	</div>
	</div>
	<div ng-switch-when="gestionEncuesta">
		<div class="text-center">
    		<label class="title baskerville">Gestión de encuestas</label>
    	</div>
	</div>
	<div ng-switch-when="agregarPregunta">
		<div class="text-center">
    		<label class="title baskerville">Registro de preguntas</label>
    	</div>
		<form class="container col-md-offset-4 col-md-4">
			<div class="form-group">
				<label>Enunciado: </label>
				<textarea class="form-control" name="enunciado" id="enunciado" required autofocus placeholder="Enunciado" pattern="[0-9]{9,}" title="Por favor ingrese el enunciado de la pregunta" rows="4" cols="60"> </textarea>
			</div>
			<div class="form-group">
				<label>Tipo: </label> <br>
				<input type="radio" name="tipo" value="true"> Abierta<br>
				<input type="radio" name="tipo" value="false"> Cerrada<br>
			</div>
			<div class="form-group">
				<label>Indicador: </label>
				<input class="form-control">
			</div>
			<center>
				<button type="submit" class="btn btn-default btn-info ">Guardar</button>
			</center>
		</form>
	</div>
	<div ng-switch-when="gestionPregunta">
		<div class="text-center">
    		<label class="title baskerville">Gestión de preguntas</label>
    	</div>
	</div>

</div>