<h1 class="text-center roboto">Observatorio Empresarial</h1>
<div class="card card-container">
    <form class="form-signin">
        <input type="text" id="inputEmail" class="form-control" placeholder="Email" ng-model="credentials.email" autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password">
        <div ng-show="errorLogin" class="alert alert-danger text-center">The email or password is incorrect.</div>
        <button class="btn btn-primary btn-signin" ng-disabled="emptyData" ng-click="login();"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Log in</button>
    </form>
</div>