<div ng-controller="PersonasController">
    <div class="text-center margin">
        <label class="title kaushan">Gestión de personas</label>
    </div>
    <div class="nueva-persona-box" ng-show="nueva">
        <div>
            <label class="subtitle baskerville">Agregar nueva persona</label>
        </div>
        <form class="container margin" autocomplete="off">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>
                            <label for="cedula">Cédula</label>
                            <input ng-model="persona.cedula" class="form-control" type="text" name="cedula" id="cedula" required autofocus placeholder="Número de cédula" ng-blur="validateID();">
                            <div class="error-box" ng-show="coincidenciaCedula">
                                {{msgCedula}}
                            </div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <label for="nombre">Nombre</label>
                            <input ng-model="persona.nombre" class="form-control" type="text" name="nombre" id="name" required placeholder="Nombre" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras.">
                        </p>
                    </div>
                </div>
                <input style="display:none">
                <input type="password" style="display:none">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>
                            <label for="email">Email</label>
                            <input ng-model="persona.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" type="text" name="email" id="email" required placeholder="Email" title="Por favor ingrese un email valido." ng-blur="validateEmail();">
                            <div class="error-box" ng-show="coincidenciaCorreo">
                                Error, el correo ya existe
                            </div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <label for="apellido1">Primer Apellido</label>
                            <input ng-model="persona.apellido1" class="form-control" type="text" name="apellido1" id="apellido1" required placeholder="Primer Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras.">
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>
                            <label for="pass">Contraseña</label>
                            <input ng-model="persona.pass" class="form-control" type="password" name="pass" id="pass" required placeholder="Contraseña" pattern="[a-zA-Z0-9._%+-]{3,}" title="Por favor ingrese más de dos caracteres.">
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <label for="apellido2">Segundo Apellido</label>
                            <input ng-model="persona.apellido2" class="form-control" type="text" name="apellido2" id="apellido2" required placeholder="Segundo Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras.">
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>
                            <label for="name">Confirmar Contraseña</label>
                            <input ng-model="persona.passConf" class="form-control" type="password" name="passConf" id="passConf" required placeholder="Confirmar Contraseña" pattern="[a-zA-Z0-9._%+-]{3,}" title="Por favor ingrese más de dos letras.">
                             <div class="error-box" ng-show="errorPass">
                                Las contraseñas no coinciden.
                            </div>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <label for="name">Tipo de usuario</label>
                            <select ng-model="persona.tipo" class="form-control">
                                <option value="A">Administrador</option>
                                <option value="B">Empresario</option>
                                <option value="E">Encuestador</option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div ng-show="registro" ng-class="styleRegistro">{{msgRegistro}}</div>
                    </div>
                    <center>
                        <button class="btn btn-primary margin" ng-disabled="errorPass || emptyData || coincidenciaCorreo || coincidenciaCedula" ng-click="store();"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Guardar</button>
                    </center>
                </div>
            </div>
        </form>
    </div>
    <div class="gestion-personas-box">
        <div>
            <label class="subtitle baskerville">Personas</label>
            <button class="btn btn-default margin float-right" ng-click="mostrarFormulario();" title="{{texto}}"><span ng-class="{'glyphicon glyphicon-plus':!nueva, 'glyphicon glyphicon-minus':nueva}"></span></button>
        </div>
        <table class="table margin" ng-show="personas">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="persona in personas">
                    <td>{{persona.cedula}}</td>
                    <td>{{persona.nombre}} {{persona.apellido1}} {{persona.apellido2}}</td>
                    <td>{{persona.email}}</td>
                    <td>{{persona.tipo | user}}</td>
                    <td>
                        <div ng-show="registro" class="margin" ng-class="styleEditar">{{msgRegistro}}</div>
                        <span class="glyphicon glyphicon-pencil" ng-click="editandoPersona(persona);" data-toggle="modal" data-target="#editarPersona" title="Modificar usuario"></span> &nbsp;
                        <span class="glyphicon glyphicon-trash" ng-click="eliminar($event,persona.id);" title="Eliminar usuario"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="info-box margin" ng-show="!personas">No hay usuarios registrados.</div>
    </div>

    <!-- Formulario editar -->
    <div id="editarPersona" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header montserrat">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <label class="title">Editar Persona</label>
                </div>
                <div class="modal-body">
                    <form class="container margin">
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <p>
                                        <label for="cedula">Cédula</label>
                                        <input ng-model="persona.cedula" class="form-control" type="text" name="cedula" id="cedula" required autofocus placeholder="Número de cédula" title="Número de cédula con ceros, sin espacios ni guiones." ng-blur="validateID();">
                                    <div class="error-box" ng-show="coincidenciaCedula">
                                        {{msgCedula}}
                                    </div>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <label for="nombre">Nombre</label>
                                        <input ng-model="persona.nombre" class="form-control" type="text" name="nombre" id="name" required placeholder="Nombre" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras.">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <p>
                                        <label for="email">Email</label>
                                        <input ng-model="persona.email" class="form-control" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" id="email" required placeholder="Email" title="Por favor ingrese un email valido." ng-blur="validateEmail();">
                                        <div class="error-box" ng-show="coincidenciaCorreo">
                                            Error, el correo ya existe
                                        </div>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <label for="apellido1">Primer Apellido</label>
                                        <input ng-model="persona.apellido1" class="form-control" type="text" name="apellido1" id="apellido1" required placeholder="Primer Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras.">
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <p>
                                        <label for="name">Tipo de usuario</label>
                                        <select ng-model="persona.tipo" class="form-control">
                                            <option value="A">Administrador</option>
                                            <option value="B">Empresario</option>
                                            <option value="E">Encuestador</option>
                                        </select>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <label for="apellido2">Segundo Apellido</label>
                                        <input ng-model="persona.apellido2" class="form-control" type="text" name="apellido2" id="apellido2" required placeholder="Segundo Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras.">
                                    </p>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <center>
                    <div class="modal-footer">
                        <center>
                            <div ng-show="editar" class="margin" ng-class="styleEditar">{{msgEditar}}</div>
                            <button id="cerrarEditarEncuesta" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="getPersonas();"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancel</button>
                            <button class="btn btn-success" ng-disabled="emptyData || coincidenciaCorreo || coincidenciaCedula" data-ng-click="modificar(persona); $event.stopPropagation()"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Guardar</button>
                            
                        </center>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>