<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Registro de Personas</title>
</head>

<body>
    <label for="name">Cedula: </label>    
    <input type="text" name="cedula" id="cedula" required autofocus placeholder="Número de cedula" pattern="[0-9]{8,}" title="Por favor ingrese su numero de cedula correctamente">
    <br>
    <label for="name">Nombre: </label>    
    <input type="text" name="name" id="name" required autofocus placeholder="Nombre" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
    <br>
    <label for="name">Primer Apellido: </label>    
    <input type="text" name="apellido1" id="apellido1" required autofocus placeholder="Primer Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
    <br>
    <label for="name">Segundo Apellido: </label>    
    <input type="text" name="apellido2" id="apellido2" required autofocus placeholder="Segundo Apellido" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
    <br>
    <label for="name">Contraseña: </label>    
    <input type="password" name="pass" id="pass" required autofocus placeholder="Contraseña" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
    <br>
    <label for="name">Confirmar Contraseña: </label>    
    <input type="password" name="passConf" id="passConf" required autofocus placeholder="Confirmar Contraseña" pattern="[a-zA-Z]{3,}" title="Por favor ingrese más de dos letras">
</body>

</html>